<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Strona</title>
</head>
<body>
<li class="active"><a th:href="@{/form}" data-target-id="home"><i class="fa fa-home fa-fw"></i>Formularz</a></li>
<li class="active"><a th:href="@{/kontakt}" data-target-id="home"><i class="fa fa-home fa-fw"></i>Kontakt</a></li>
<li class="active"><a th:href="@{/oferta}" data-target-id="home"><i class="fa fa-home fa-fw"></i>Oferta</a></li>
<li class="active"><a th:href="@{/map}" data-target-id="home"><i class="fa fa-home fa-fw"></i>Map</a></li>



</body>
</html>